<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="chat-container">
        <!-- Header -->
        <div class="chat-header">
            <div class="user-info">
                <div class="user-avatar"></div>
                <div class="user-details">
                    <h3>Asistente de Micromasterpieces</h3>
                    <p>Asistente virtual</p>
                </div>
            </div>
            <div class="chat-actions">
                <!--button class="action-btn">📹</button>
                <button class="action-btn">📞</button!-->
                <button class="action-btn">⚙️</button>
            </div>
        </div>

        <!-- Chat messages -->
        <div class="chat-messages" id="chat-messages">
            <div class="message received">
                <div class="bot-avatar"></div>
                <p>¿Hola como estás? ¿Deseas un presupuesto o explorar nuestro catálogo?</p>
            </div>
        </div>

        <!-- Input field -->
        <div class="chat-input">
            <input type="text" id="chat-input" placeholder="Escribe un mensaje...">
            <button class="send-btn" id="send-btn">➤</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
